* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

main {
    background-color: rgb(186, 220, 240);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card-principal {
    background-color: rgb(218, 235, 245);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 740px;
    justify-content: center;


}

.titulo {
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    flex: 0 0 100%;
}

.titulo h1 {
    text-align: center;
    color: #3a4a67;
}

#alunos {
    background-color: #f0f5fd;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10px;
    border-radius: 10px;
    height: 350px;
}

#alunos header {
    background-color: #45a1f2;
    color: #ecf4fd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 280px;
    padding: 10px;
}

#alunos header h2 {
    display: block;

}

.card-alunos {
    border-radius: 10px;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-right: 10px;
}

#btnAdicionaAlunoTelaPrincipal {
    background-color: #f15380;
    color: #ecf4fd;
    width: 150px;
    height: 30px;
    border-radius: 15px;
    margin: 10px;
    border: none;
}

#btnAdicionaAlunoTelaPrincipal:hover {
    background-color: #f53169;
}



.card-alunos ul {
    background-color: #fefefe;
    list-style: none;
    margin: 10px;

}

ul button {
    background-color: #fefefe;
    border: none;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

ul button:hover {
    background-color: #4d4d4e2c;

}

.alunos {
    border-bottom: solid 1px #e9eaf1;
}


.li-active {
    background-color: #45a1f2;
    color: #ecf4fd;
}


.detalhes-aluno {
    background-color: #f6f7fa;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 400px;
    gap: 10px;
}

.detalhes-aluno header {

    width: 100%;
    border-bottom: solid 1px #e9eaf1;
}

.detalhes-aluno header h2 {
    color: #3a4a67;
}

.aluno {
    display: flex;
    border-bottom: solid 1px #e9eaf1;
    background-image: url("../assets/images/backgrounds/plano-de-fundo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    gap: 10px;

}

.aluno img {
    display: inline-block;
    width: 50px;
    border-radius: 50%;
}

.informacoes-aluno h3 {
    color: #3a4a67;
}

.componente-curricular p {
    background-color: #dadcdd;
    width: 160px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 13px;
    padding: 10px;
}

.historico h3 {
    color: #3a4a67;
    margin-bottom: 20px;
}

.lista-historico li {
    display: flex;
    border-bottom: solid 1px #e9eaf1;
}

.lista-historico li img {
    display: inline-block;
    width: 20px;

}

footer {
    display: flex;
    justify-content: flex-end;
}

footer button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: #45a1f2;
    color: #f5f7f8;
    font-size: 1rem;
    font-weight: 700;
}

footer button:hover {
    background-color: #2996f5;
}


@media (max-width: 768px) {
    .card-principal {
        width: 100%;
        flex-direction: column;
        margin: 20px;
    }

    #alunos,
    .detalhes-aluno {
        width: 100%;
    }
}


/*Estilo do dialog para adicionar aluno*/
#dialogAdicionarAluno {
    position: fixed;
    inset: 0;
    margin: auto;
    width: 500px;
    height: 280px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}


.form-aluno {
    padding: 20px;
}

.form-aluno h3 {
    text-align: center;
    color: #3a4a67;
    font-size: 2rem;
    border-bottom: solid 1px #e9eaf1;
}


label h4 {
    color: #3a4a67;
    margin-top: 20px;
    margin-bottom: 10px;
}

label input {
    width: 100%;
    height: 40px;
    border: solid 1px #e5e6e7;
    border-radius: 10px;
    padding: 0 20px;
}

/* Faz o placeholder sumir quando o input está em foco */
input:focus::placeholder {
    color: transparent;
}

.botoesDialog {
    margin-top: 10px;
    display: flex;
    height: 100px;
    border-top: solid 1px #e5e6e7;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 10px;

}

#btnCancelar {
    height: 40px;
    width: 150px;
    border-radius: 10px;
    border: none;
    background-color: #f15380;
    color: #f8f9fa;
    font-size: 1.3rem;
}

#btnAdicionar {
    height: 40px;
    width: 250px;
    border-radius: 10px;
    border: none;
    background-color: #45a1f2;
    color: #f8f9fa;
    font-size: 1.3rem;
}

#btnCancelar:hover {
    background-color: #f7366d;
}

#btnAdicionar:hover {
     background-color: #2998f8;
}


/*Estilo do dialog para adicionar evolução*/

#dialogDetalhesAluno {
    position: fixed;
    inset: 0;
    margin: auto;
    width: 500px;
    height: 340px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.form-detalhes h3 {
    text-align: center;
    color: #3a4a67;
    font-size: 2rem;
    border-bottom: solid 1px #e9eaf1;
}

.botoesDialogDetalhes {
    margin-top: 10px;
    display: flex;
    height: 100px;
    border-top: solid 1px #e5e6e7;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 10px;
}

#btnCancelarDetalhes {
    height: 40px;
    width: 150px;
    border-radius: 10px;
    border: none;
    background-color: #f15380;
    color: #f8f9fa;
    font-size: 1.3rem;
}

#btnInserirDetalhes {
    height: 40px;
    width: 250px;
    border-radius: 10px;
    border: none;
    background-color: #45a1f2;
    color: #f8f9fa;
    font-size: 1.3rem;
}

#btnCancelarDetalhes:hover {
    background-color: #f7366d;
}

#btnInserirDetalhes:hover {
     background-color: #2998f8;
}